@{ 
    Layout = null;
}

@model ICollection<PhoneBook.DTO.Phone>

<style>
    #Phones tbody td:nth-child(3) {
        cursor: pointer;
    }
</style>

<table class="table table-hover table-bordered table-striped table-sm">
    <caption>List of phones</caption>
    <thead class="thead-dark">
        <tr class="d-flex">
            <th scope="col" class="col-5">Id</th>
            <th scope="col" class="col-5">Номер</th>
            <th scope="col" class="col-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="d-flex">
                <td scope="row" class="col-5">@item.PhoneId</td>
                <td class="col-5"><div contenteditable>@item.Number</div></td>
                <td class="col-2 text-center"><span class="oi oi-trash"></span></td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $("#Phones tbody tr").each(function () {
            var row = $(this);
            var tds = row.find('td');
            var selectedPhoneId = row.find('td:first').html();

            tds.each(function () {
                if (tds.index($(this)) == 2) {
                    $(this).click(function () {
                        $.post('/Phone/Delete/', { id: selectedPhoneId }, function () {
                            row.remove();
                        });
                    });
                } else if (tds.index($(this)) == 1) {
                    $(this).find('div').first().focusout(function () {
                        var number = $(this).html();
                        var selectedPersonId = $('#selectedPersonId').val();
                        $.post('/Phone/Update/', { PhoneId: selectedPhoneId, Number: number, PersonId: selectedPersonId });
                    });
                }
            });
        });
    });
</script>